SQLAlchemy==1.2.13
aiodns==1.1.1
aiohttp==3.4.4
aiopg==0.15.0
arq==0.14
cchardet==2.1.4
gunicorn==19.9.0
python-dateutil==2.7.5
pillow==5.3.0
pydantic[email]==0.14
raven==6.9.0
uvloop==0.11.3
ipython==7.0.1
pgcli==2.0.0
ipython-sql==0.3.9
yarl==1.2.6
