SQLAlchemy==1.4.20
aiodns==2.0.0
aiohttp==3.7.4.post0
aiopg==1.1.0
arq==0.21
boto3==1.17.62
cchardet==2.1.7
gunicorn==20.0.4
python-dateutil==2.8.1
pillow==8.1.2
pydantic[email]==1.8.1
raven==6.10.0
requests==2.25.1
uvloop==0.15.2
ipython==7.23.0
pgcli==3.1.0
ipython-sql==0.4.0
yarl==1.6.3
