SQLAlchemy==1.1.10
aiodns==1.1.1
aiohttp==2.1.0
aiopg==0.13.0
arq==0.6.1
cchardet==2.0.1
gunicorn==19.7.1
python-dateutil==2.6.0
trafaret==0.10.0
trafaret-config==1.0.1
pillow==4.1.1
raven==6.0.0
uvloop==0.8.0
yarl==0.10.2
